@charset 'UTF-8';
.amaran-wrapper {
	position: fixed;
	z-index: 99999;
}
.amaran-wrapper.top {
	top:0;
	bottom: auto;
}
.amaran-wrapper.bottom {
	bottom:0;
	top:auto;
}
.amaran-wrapper.left{
	left:0;
}
.amaran-wrapper.right{
	right:0;
	left:auto;
}
.amaran-wrapper.center{
	left:0;
	right: auto;
}
.amaran {
	width:200px;
	display:block;
	background: rgba(0, 0, 0, 0.7);
	padding:3px;
	color:#fff;
	border-radius: 0px;
	margin-top:5px;
	display: none;
	font-family: Arial;
	font-size:12px;
	cursor: pointer;
	position: relative;
	text-align: left;
	min-height:50px;
	margin:10px;
}
.amaran:first-child{
	margin-top:0;
}
.amaran-close {
	position: absolute;
	top:2px;
	right:2px;
	display: block;
	width:20px;
	height:20px;
}


/*
 * Default Theme
 */
.amaran.default{
	width:300px;
	min-height: 65px;
	background: #f3f3f3;
	color:#222;
	margin:15px;
	padding-left:70px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;
	font-family:'Open Sans',Helvetica,Arial;
	font-size:16px;
	font-weight:600;
	box-shadow:1px 1px 1px #000;
}
.amaran.default .icon{
	width:50px;
	height:50px;
	position: absolute;
	top:50%;
	left:10px;
	background: #000;
	margin-top:-25px;
	border-radius: 50%;
	text-align: center;
	line-height: 50px; 
	font-size:22px;
}

.amaran.default p {
	padding:0;margin:0;
}
.amaran.default p.bold {}
.amaran.default p span{
	font-weight: 300;

}
.amaran.default p span.light {
	font-size:13px;
	display: block;
	color:#777;
}
.amaran.default.error{}
.amaran.default.warning{}

/* OK*/
.amaran.default.ok p.bold{
	color:#178B13;
}
.amaran.default.ok .icon {
	background-color:#178B13;
	color:#fff;
}
/* ERROR */
.amaran.default.error p.bold{
	color:#D82222;
}
.amaran.default.error .icon {
	background-color:#D82222;
	color:#fff;
}
/* WARNING */
.amaran.default.warning p.bold{
	color:#9F6000;
}
.amaran.default.warning .icon {
	background-color:#9F6000;
	color:#fff;
}
/* YELLOW */
.amaran.default.yellow p.bold{
	color:#CFA846;
}
.amaran.default.yellow .icon {
	background-color:#CFA846;
	color:#fff;
}
/* BLUE */
.amaran.default.blue p.bold{
	color:#2980b9;
}
.amaran.default.blue .icon {
	background-color:#2980b9;
	color:#fff;
}
/* GREEN */
.amaran.default.green p.bold{
	color:#27ae60;
}
.amaran.default.green .icon {
	background-color:#27ae60;
	color:#fff;
}
/* PURPLE */
.amaran.default.purple p.bold{
	color:#5B54AA;
}
.amaran.default.purple .icon {
	background-color:#5B54AA;
	color:#fff;
}


/*
 * Blur Theme
 */
.amaran.blur{
	width:400px;
	min-height: 65px;
	color:#222;
	margin:15px;	
	font-family:'Open Sans',Helvetica,Arial;
	font-size:16px;
	font-weight:600;
	background: rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), inset 0 0px 10px rgba(255, 255, 255, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.2);
}
.amaran.blur h2 {
	font-family:'Roboto',Arial;
	font-size:28px;
	font-weight: 300;
	text-align: center;
}
.amaran.blur h2:before {
	content: "\26a0";
}
.amaran.blur .message {
	font-size:14px;
	font-weight: 300;
	padding: 10px;
}


/*
 * Metro Theme
 */
.amaran.metro{
	width:100%;
	height: 200px;
	background: none repeat scroll 0% 0% rgb(140, 0, 149);
	color:#222;
	font-family:'Open Sans',Helvetica,Arial;
	border-radius: 0;
	margin:0;

}
.amaran-wrapper.metroWrapper {
	width:100%;
	padding:0;
	margin:0;
	top:50%;
	display: block;
	margin-top:-100px;
	z-index: 9999;	
}
.amaran-wrapper.metroWrapper .content{
	width:50%;
	height:200px;
	display: block;
	margin:0 auto;
	position: relative;
	color:#fff;
	overflow: hidden;
	min-height: 200px !important;
	background: none !important;
}
.amaran-wrapper.metroWrapper .content h2{
	font-weight: 400;
}
.amaran-wrapper.metroWrapper .content .metro-close{
	position: absolute;
	top:5px;
	right: 5px;
	width:20px;
	height:20px;
	font-size:20px;
}
.amaran-wrapper.metroWrapper .content .metro-close:hover {
	color:#222;
}
.amaran-wrapper.metroWrapper .content .metro-buttons {
	position: absolute;
	bottom:25px;
	right: 5px;
}
.amaran-wrapper.metroWrapper .content .metro-buttons a {
	color:#fff;
	padding:6px 15px;
	border:2px solid #fff;
	margin:0 5px;
	text-decoration: none;
}
.amaran-wrapper.metroWrapper .content .metro-buttons a:hover {
	background: #fff;
	color:#2773ed;
}


/*
 * Readmore Theme
 */
.amaran.readmore{
	width:300px;
	min-height: 100px;
	background:#fff;
	border:4px solid #e45e39;
	border-radius: 0;
	padding:0;
	color:#222;
	position: relative;
	margin-bottom:25px;
}
.amaran.readmore .title {
	background: #e45e39;
	padding:5px 10px 5px 45px;
	font-family: 'Open Sans',arial;
	font-size:13.5px;
	color:#fff;
	
}
.amaran.readmore .content {
	padding:5px;
	font-family: 'Open Sans',arial;
	font-size:14px;
	min-height: 50px !important;
	margin-left: 0px !important;
}
.amaran.readmore .readmore-user {
	position: absolute;
	top: 0;
	left: -15px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-top: -13px;
	z-index: 9999;
	border: 4px solid #e45e39;
}


/*
 * Rounded Theme
 */
 .amaran.rounded{
	width:100px;
	min-height: 100px;
	background:rgba(0, 0, 0, 0.75);
	border-radius:50%;
	margin:20px;
}
.amaran.rounded img {
	max-width: 100%;
	border-radius:50%;
}


/*
 * User Theme
 */
 .amaran.user{
	width:300px;
	min-height: 100px;
	background: #f3f3f3;
	color:#222;
	margin:15px;
	font-family:'Open Sans',Helvetica,Arial;
	font-size:13px;
	font-weight:300;
	box-shadow:1px 1px 1px #000;
	border-radius:0;
	padding: 0;
}
.amaran.user .icon{
	width:100px;
	height:100px;
	position: relative;
	background: #000;
	float:left;
}
.amaran.user .icon img {
	max-width: 100%;
}
.amaran.user .info {
	padding-left:110px;
	padding-top:10px;
}
.amaran.user .info b{
	display: block;
	font-size:16px;
}
.amaran.user.blue {
	background: #2773ed;
	color:#fff;
}
.amaran.user.yellow {
	background: #f4b300;
	color:#fff;
}
.amaran.user.green {
	background: #78ba00;
	color:#fff;
}
