@font-face {
	font-family:"Helvetica Neue";
	src:url("normal/helveticaneue-webfont.eot?") format("eot"),
		url("normal/helveticaneue-webfont.woff") format("woff"),
		url("normal/helveticaneue-webfont.ttf") format("truetype"),
		url("normal/helveticaneue-webfont.svg#helveticaneue-webfont") format("svg");
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:"Helvetica Neue Light";
	src:url("light/helveticaneue-light-webfont.eot?") format("eot"),
		url("light/helveticaneue-light-webfont.woff") format("woff"),
		url("light/helveticaneue-light-webfont.ttf") format("truetype"),
		url("light/helveticaneue-light-webfont.svg#helveticaneue-light-webfont") format("svg");
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:"Helvetica Neue Medium";
	src:url("medium/helveticaneue-medium-webfont.eot?") format("eot"),
		url("medium/helveticaneue-medium-webfont.woff") format("woff"),
		url("medium/helveticaneue-medium-webfont.ttf") format("truetype"),
		url("medium/helveticaneue-medium-webfont.svg#helveticaneue-medium-webfont") format("svg");
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family: 'Helvetica Neue Bold';
	src:url("bold/helveticaneue-bold-webfont.eot?") format("eot"),
		url("bold/helveticaneue-bold-webfont.woff") format("woff"),
		url("bold/helveticaneue-bold-webfont.ttf") format("truetype"),
		url("bold/helveticaneue-bold-webfont.svg#helveticaneue-bold-webfont") format("svg");
	font-weight:normal;
	font-style:normal;
}

