<span style='color: #000' title='Frames'>  1324</span><span style='color: #009' title='Memory'>  18432.00 KB</span><span style='color: #900' title='Time'>   8508.80 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />