/* Spinner */
.spin-up,.spin-down{
	overflow:hidden;
	display:block;
	text-align:center;
	color:#999;
	position: relative;
	cursor: pointer;
}
.spin-up{
	height:6px;
}
.spin-down{
	top: 0px;
}
.spin-up:hover,.spin-down:hover{
	color:#555;
}

