/*!
 * Stacks Admin Panel Project
 * Copyright 2015, Stacks Ghana.
 * www.stacksgh.com
 */

/*************************************** 
 IMPORT STYLESHEETS
***************************************/
@import url("../../fonts/myriad-pro/myriad-pro.css");
@import url("../../fonts/font-awesome/font-awesome.css");

 
/*************************************** 
 DEFINED STYLE FUNCTIONS
***************************************/
.flt-r{
	/* Float Right */
	clear: both;
	float: right;
}
.flt-l{
	/* Float Left */
	clear: both;
	float: left;
}
.dp-bk{
	/* Display Block */
	display: block !important;
}
.dp-no{
	/* Display None */
	display: none !important;
}
/* Overflow */
.ov-h{ overflow: hidden !important;}
.ov-a{ overflow: auto !important;}
.ov-s{ overflow: scroll !important;}

/* Z-Index */
.z-1{ z-index: 1 !important;}

/* Position */
.ps-fx{ position: fixed !important;}
.ps-st{ position: static !important;}
.ps-rl{ position: relative !important;}
.ps-ab{ position: absolute !important;}

/* Margin */
.m-0{ margin: 0 !important;}
.mr-5{ margin-right: 5px !important;}
.ml-5{ margin-left: 5px !important;}
.mr-10{ margin-right: 10px !important;}
.ml-10{ margin-left: 10px !important;}
.mt-10{ margin-top: 10px !important;}
.mb-10{ margin-bottom: 10px !important;}
.ml-15{ margin-left: 15px !important;}
.mr-15{ margin-right: 15px !important;}
.mt-15{ margin-top: 15px !important;}
.mb-10{ margin-bottom: 10px !important;}
.mb-15{ margin-bottom: 15px !important;}
.mb-20{ margin-bottom: 20px !important;}


/* Padding */
.p-0{ padding: 0 !important;}
.p-10{ padding: 10px !important;}
.p-15{ padding: 15px !important;}
.p-20{ padding: 20px !important;}
.pt-10{ padding-top: 10px !important;}
.pr-10{ padding-right: 10px !important;}
.pl-10{ padding-left: 10px !important;}
.pt-20{ padding-top: 20px !important;}

/* Border */
.bd-0{ border: 0px !important;}
.bdt-0{ border-top: none !important;}

/* Border Radius */
.bdr-0{ border-radius: 0px !important;}

/* Height */
.h-10{ height: 10px !important;}
.min-h0{ min-height: auto !important;}

/* Default Background Color */
.bg-default{background-color: #F3F3F3 !important;}
.c-default{color: #666 !important;}

/* Primary Background Color */
.bg-primary-dark{background-color: #3078D7 !important;}
.bg-primary{background-color: #4A89DC !important;}
.bg-primary-light{background-color: #649AE1 !important;}
.c-primary{color: #649AE1 !important;}

/* Info Background Color */
.bg-info-dark{background-color: #27A2CF !important;}
.bg-info{background-color: #3BAFDA !important;}
.bg-info-light{background-color: #55BADF !important;}
.c-info{color: #55BADF !important;}

/* Warning Background Color */
.bg-warning-dark{background-color: #F5B025 !important;}
.bg-warning{background-color: #F6BB42 !important;}
.bg-warning-light{background-color: #F7C65F !important;}
.c-warning{color: #F5B025 !important;}

/* Danger Background Color */
.bg-danger-dark{background-color: #E63F24 !important;}
.bg-danger{background-color: #E9573F !important;}
.bg-danger-light{background-color: #EC6F5A !important;}
.c-danger{color: #E63F24 !important;}

/* Success Background Color */
.bg-success-dark{background-color: #5BC24C !important;}
.bg-success{background-color: #70CA63 !important;}
.bg-success-light{background-color: #85D27A !important;}
.c-success{color: #85D27A !important;}

/* System Background Color */
.bg-system-dark{background-color: #30A487 !important;}
.bg-system{background-color: #37BC9B !important;}
.bg-system-light{background-color: #48C9A9 !important;}
.c-system{color: #48C9A9 !important;}

/* Soft Background Color */
.bg-soft-dark{background-color: #DB3EAA !important;}
.bg-soft{background-color: #E450B6 !important;}
.bg-soft-light{background-color: #E77EC6 !important;}
.c-soft{color: #E77EC6 !important;}

/* Alert Background Color */
.bg-alert-dark{background-color: #8362D6 !important;}
.bg-alert{background-color: #967ADC !important;}
.bg-alert-light{background-color: #A992E2 !important;}
.c-alert{color: #A992E2 !important;}

/* Dark Background Color */
.bg-dark-dark{background-color: #2E313D !important;}
.bg-dark{background-color: #3B3F4F !important;}
.bg-dark-light{background-color: #484D61 !important;}
.c-dark{color: #484D61 !important;}

/* Light Background Color */
.bg-light-dark{background-color: #66666C !important;}
.bg-light{background-color: #9999A3 !important;}
.bg-light-light{background-color: #BBBBBD !important;}
.c-light{color: #BBBBBD !important;}
	

/*************************************** 
 MAIN WRAPPER
***************************************/
.wrapper{
	min-height: 1100px;;
	width:100%;
	position:relative;
	display:inline-block;
	background-color: #EEEEEE;
}
.gap30{
	height: 30px;
	clear: both;
}


/*************************************** 
 TOP NAVBAR 
***************************************/
.header{
	position: absolute;
	z-index: 12;
	width: 100%;
}
.header .logo{
	float: left;
	width: 28px;
	height: auto;
	margin-right: 5px;
}
.navbar-toggle-icon,
.navbar-toggle-icon:hover,
.navbar-toggle-icon:focus{
	font-size: 18px;
	color: #666;
	text-decoration: none;
}
.navbar-mobile{
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0px;
	right: 0px;
	padding-right: 15px;
}
.navbar-mobile li{
	display: inline-block;
}
.navbar-mobile li a,
.navbar-mobile li a:hover,
.navbar-mobile li a:focus{
	padding: 13px 10px 11px;
	display: inline-block;
	color: #666;
	text-decoration: none;
}
.navbar-mobile li a i{
	font-size: 18px;
}
@media (min-width: 768px) {
  .navbar-mobile {
    display: none;
  }
}
.navbar-title{
	display: none;
}
@media (min-width: 1025px) {
	.navbar-title{
		font-size: 20px;
		margin-top: 8px;
		display: inline-block;
		font-family: "Myriad Pro Light", Helvetica, Arial, sans-serif; 
		position: absolute;
		left: 45%;
		top: 1px;
	}
}
@media (max-width: 768px) {
	.navbar-title{
		font-size: 16px;
		position: relative;
		left: 0px;
		top: 0px;
	}
}
.badge-icon{
	top: 4px;
	right: 4px;
	padding: 3px 6px;
	font-size: 11px;
}
@media (max-width: 768px) {
	.badge-icon{
		top: 12px;
		right: 10px;
	}
}
.avatar{
	padding: 8px 15px 6px !important;
}
.avatar img{
	width: 30px;
	height: 30px;
}
.custom-dm{
	padding: 0 !important;
	font-weight: 600 !important;
	font-size: 13px !important;
}
.custom-dm .odd{
	background-color: #FAFAFA;
	border-bottom: 1px solid #EEEEEE;
	padding: 10px 12px;
	line-height: 30px;
}
.custom-dm li{
	border-bottom: 1px solid #EEEEEE;
}
.custom-dm li:last-child{
	border-bottom: 0;
}
.custom-dm li i{
	margin-right: 8px;
}
.custom-dm li a{
	padding: 12px;
	font-weight: 600 !important;
	color: #666 !important;
}
@media (max-width: 768px) {
	.custom-dm li{
		border-bottom: 1px solid #EEEEEE;
	}
}
.custom-dm .badge{
	right: 12px;
	margin-top: 5px;
}
.custom-dm .btn{
	padding: 6px 12px !important;
	display: inline-block !important;
}
.custom-dm .btn-sm{
	padding: 5px 10px !important;
}
.custom-dm .media{
	padding: 10px;
	min-width: 300px;
	color: #999;
	border-bottom: 1px solid #EEEEEE;
	margin: 0;
}
.custom-dm .media:last-child{
	border-bottom: 0;
}
.custom-dm .media h5{
	font-weight: inherit;
	color: #777;
}
.custom-dm .media h5 small{
	color: #999;
}
.custom-dm .media a{
	padding: 0px !important;
}
.custom-dm .media img{
	float: left;
	clear: both;
	margin: 0 10px 0 0;
}
.navbar-form{
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 1;
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	animation-duration: 0.5s;
}
.navbar-form .form-control{
	width: 100%;
}
.navbar-form input{
	border-width: 0px;
	font-size: 16px;
	padding: 10px 10%;
	height: auto;
	position: absolute;
	top: 0px;
	text-align: center;
}
.navbar-form .toggle-search-close{
	position: absolute;
	display: block;
	right: 15px;
	top: 6px;
	font-size: 1.5em;
}
@media (max-width: 768px) {
	.navbar-form{
		display: block;
		position: relative;
		margin-top: 12px;
	}
	.navbar-form .toggle-search-close{
		display: none;
	}
	.navbar-form input{
		border-width: 1px;
		font-size: 14px;
		padding: 6px 12px;
		height: 34px;
		position: relative;
		text-align: left;
	}
}

/*************************************** 
 SIDEBAR 
***************************************/
.sidebar{
	background-color: #3B4A5F;
	width: 230px;
	position: absolute;
	top: 0px;
	min-height: 101%;
	padding-top: 45px;
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	animation-duration: 0.5s;
}
.sidebar-mini{
	width: 50px !important;
}
@media (max-width: 768px) {
	.sidebar{
		display: none;
		z-index: 10;
		position: fixed;
	}
}
@media (min-width: 768px) and (max-width: 1024px) {
	.sidebar{
		width: 50px;
		z-index: 10;
	}
}


.sidebar-fixed-nav{
	/* Fixed Scrollable Nav for Desktops */
	height: 82vh;
	margin: 30px 0 30px 0;
}
@media (min-width: 768px) and (max-width: 1024px) {
	.sidebar-fixed-nav{
		height: auto;
	}
}
.sidebar-nav{
	margin: 30px 0 30px 0;
}
@media (max-width: 768px) {
	.sidebar-nav{
		height: 89vh;
		overflow: auto;
		margin: 10px 0 30px 0;
	}
}


/*************************************** 
 SIDEBAR NAVBAR LARGE 
***************************************/
.sidebar-navbar{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	display: block;
	font-size: 12px;
	font-family: "Myriad Pro SemiBold", Helvetica, Arial, sans-serif; 
}
.sidebar-navbar .heading{
	color: #6D7F98;
	padding: 2px 15px;
	background-color: #364252;
}
.sidebar-navbar h5{
	font-size: 12px;
}
.sidebar-navbar li{
	display: block;
	margin: 0;
	padding: 0;
	border-top: 1px solid #415269;
	text-transform: uppercase;
}
.sidebar-navbar li a .iconic{
	float: right;
}
.sidebar-navbar li:first-child{
	border-top: 0;
}
.sidebar-navbar li a{
	position: relative;
	display: block;
	text-decoration: none;
	color: #96ACC6;
}
.sidebar-navbar li a:first-child{
	border-top: 1px solid transparent;
}
.sidebar-navbar li a i{
	margin-right: 10px;
	font-size: 12px;
}
.sidebar-navbar li a:hover, 
.sidebar-navbar li a:focus{
	color: #B6C6D5;
}
.sidebar-navbar li a{
	padding: 13px 15px;
}
.sidebar-navbar li .active, 
.sidebar-navbar li .active:hover, 
.sidebar-navbar li .active:focus, 
.sidebar-navbar li .active i{
	color: #fff;
	background-color: #6986AD;
}
.sidebar-navbar li ul{
	list-style: none;
	margin: 0;
	padding: 4px 0;
	width: 100%;
	display: none;
	background-color: #303845;
}
.sidebar-navbar li ul li{
	border-top: none;
}
.sidebar-navbar li ul li a{
	padding: 7px 15px 7px 40px;
}
.sidebar-navbar li ul li a i{
	background: none !important;
}
.sidebar-navbar li ul li a:hover, 
.sidebar-navbar li ul li a:focus,
.sidebar-navbar li ul li .active i{
	background-color: transparent !important;
}
.sidebar-navbar li ul li .active{
	background-color: transparent;
}
.sidebar-navbar li ul li ul li a{
	padding: 6px 0 6px 60px;
}
.sidebar-navbar i{
	margin-right: 5px;
}
.sidebar-navbar .label,
.sidebar-navbar .badge{
	position: absolute;
	right: 40px;
}


/*************************************** 
 SIDEBAR NAVBAR SMALL - FOR SMALL SCREENS
***************************************/
@media (min-width: 768px) and (max-width: 1024px) {
	.sidebar-navbar{
		list-style: none;
		margin: 0 0 30px 0;
		padding: 0;
		width: 100%;
		display: block;
		font-size: 12px;
		font-family: "Myriad Pro SemiBold", Helvetica, Arial, sans-serif;
	}
	.sidebar-navbar li a span{
		display: none !important;
	}
	.sidebar-navbar li ul li a span{
		display: inline !important;
	}
	.sidebar-navbar .heading{
		display: none;
	}
	.sidebar-navbar li{
		display: block;
		margin: 0;
		padding: 0;
		border-top: 1px solid #415269;
		position: relative;
		text-transform: uppercase;
	}
	.sidebar-navbar li a .iconic{
		float: right;
	}
	.sidebar-navbar li:first-child{
		border-top: 0;
	}
	.sidebar-navbar li a{
		position: relative;
		display: block;
		text-decoration: none;
		color: #96ACC6;
		padding: 13px 15px;
	}
	.sidebar-navbar li a:first-child{
		border-top: 1px solid transparent;
	}
	.sidebar-navbar li a i{
		font-size: 14px;
		vertical-align: middle;
	}
	.sidebar-navbar li a:hover, 
	.sidebar-navbar li a:focus{
		background-color: #3B4A5F;
		color: #B6C6D5;
	}
	.sidebar-navbar li a:hover{
		min-width: 250px;
		position: relative;
		z-index: 11;
	}
	.sidebar-navbar li a:hover > span, 
	.sidebar-navbar li:hover > a span{
		display: inline !important;
	}
	.sidebar-navbar li:hover > a{
		min-width: 250px;
		position: relative;
		z-index: 11;
	}
	.sidebar-navbar li a:hover, 
	.sidebar-navbar li a:focus, 
	.sidebar-navbar li:hover > a, 
	.sidebar-navbar .active{
		background-color: #3B4A5F;
	}
	.sidebar-navbar li .active, 
	.sidebar-navbar li .active:hover, 
	.sidebar-navbar li .active:focus, 
	.sidebar-navbar li .active i{
		color: #fff;
		background-color: #6986AD !important;
	}
	.sidebar-navbar li ul {
		position: absolute;
		left: -9999px;
		z-index: 10;
		list-style: none;
		margin: 43px 0 0 0;
		padding: 0;
		width: 200px;
		background-color: #303845;
		right: -200px;
		top: 0px;
		display: none;
	}
	.sidebar-navbar li ul li{
		border-top: none;
	}
	.sidebar-navbar li ul li a{
		padding: 7px 15px;
	}
	.sidebar-navbar li ul li a i{
		background: none !important;
	}
	.sidebar-navbar li ul li a:hover, 
	.sidebar-navbar li ul li a:focus, 
	.sidebar-navbar li ul li .active, 
	.sidebar-navbar li ul li .active i{
		background-color: transparent !important;
	}
	.sidebar-navbar li ul li .active:hover,
	.sidebar-navbar li ul li .active:focus{
		background-color: transparent !important;
	}
	.sidebar-navbar li ul li ul li a{
		padding: 7px 15px 7px 30px;
	}
	.sidebar-navbar i{
		margin-right: 35px !important;
	}
	.sidebar-navbar li:hover > ul { 
		left: auto;
	}
	.sidebar-navbar li ul li {
		display: block;
		position: relative;
	}
	.sidebar-navbar li ul li ul {
		margin: 0 0 0 100%;
		top: 0px;
		position: relative;
		right: 200px;
		left: auto;
	}
	.sidebar-navbar ul li a:hover, 
	.sidebar-navbar ul li:hover > a{
		min-width: 100% !important;
	}
	.sidebar-navbar .label,
	.sidebar-navbar .badge{
		position: absolute;
		right: 40px;
	}
}


/*************************************** 
 SIDEBAR NAVBAR SMALL
***************************************/
.sidebar-mini-navbar{
	list-style: none;
	margin: 0 0 30px 0;
	padding: 0;
	width: 100%;
	display: block;
	font-size: 12px;
	font-family: "Myriad Pro SemiBold", Helvetica, Arial, sans-serif;
}
.sidebar-mini-navbar li a span{
	display: none !important;
}
.sidebar-mini-navbar li ul li a span{
	display: inline !important;
}
.sidebar-mini-navbar .heading{
	display: none;
}
.sidebar-mini-navbar li{
	display: block;
	margin: 0;
	padding: 0;
	border-top: 1px solid #415269;
	position: relative;
	text-transform: uppercase;
}
.sidebar-mini-navbar li a .iconic{
	float: right;
}
.sidebar-mini-navbar li:first-child{
	border-top: 0;
}
.sidebar-mini-navbar li a{
	position: relative;
	display: block;
	text-decoration: none;
	color: #96ACC6;
	padding: 13px 15px;
}
.sidebar-mini-navbar li a:first-child{
	border-top: 1px solid transparent;
}
.sidebar-mini-navbar li a i{
	font-size: 14px;
	vertical-align: middle;
}
.sidebar-mini-navbar li a:hover, 
.sidebar-mini-navbar li a:focus{
	background-color: #3B4A5F;
	color: #B6C6D5;
}
.sidebar-mini-navbar li a:hover{
	min-width: 250px;
	position: relative;
	z-index: 11;
}
.sidebar-mini-navbar li a:hover > span, 
.sidebar-mini-navbar li:hover > a span{
	display: inline !important;
}
.sidebar-mini-navbar li:hover > a{
	min-width: 250px;
	position: relative;
	z-index: 11;
}
.sidebar-mini-navbar li a:hover, 
.sidebar-mini-navbar li a:focus, 
.sidebar-mini-navbar li:hover > a, 
.sidebar-mini-navbar .active{
	background-color: #3B4A5F;
}
.sidebar-mini-navbar li .active, 
.sidebar-mini-navbar li .active:hover, 
.sidebar-mini-navbar li .active:focus, 
.sidebar-mini-navbar li .active i{
	color: #fff;
	background-color: #6986AD !important;
}
.sidebar-mini-navbar li ul {
	position: absolute;
	left: -9999px;
	z-index: 10;
	list-style: none;
	margin: 43px 0 0 0;
	padding: 0;
	width: 200px;
	background-color: #303845;
	right: -200px;
	top: 0px;
	display: none;
}
.sidebar-mini-navbar li ul li{
	border-top: none;
}
.sidebar-mini-navbar li ul li a{
	padding: 7px 15px;
}
.sidebar-mini-navbar li ul li a i{
	background: none !important;
}
.sidebar-mini-navbar li ul li a:hover, 
.sidebar-mini-navbar li ul li a:focus, 
.sidebar-mini-navbar li ul li .active, 
.sidebar-mini-navbar li ul li .active i{
	background-color: transparent !important;
}
.sidebar-mini-navbar li ul li .active:hover,
.sidebar-mini-navbar li ul li .active:focus{
	background-color: transparent !important;
}
.sidebar-mini-navbar li ul li ul li a{
	padding: 7px 15px 7px 30px;
}
.sidebar-mini-navbar i{
	margin-right: 35px;
}
.sidebar-mini-navbar li:hover > ul { 
	left: auto;
}
.sidebar-mini-navbar li ul li {
	display: block;
	position: relative;
}
.sidebar-mini-navbar li ul li ul {
	margin: 0 0 0 100%;
	top: 0px;
	position: relative;
	right: 200px;
	left: auto;
}
.sidebar-mini-navbar ul li a:hover, 
.sidebar-mini-navbar ul li:hover > a{
	min-width: 100% !important;
}
.sidebar-mini-navbar .label,
.sidebar-mini-navbar .badge{
	position: absolute;
	right: 40px;
}



/*************************************** 
 CONTENT 
***************************************/
.content{
	margin-left: 230px;
	position: relative;
	padding-top: 45px;
	min-height: 300px;
}
.content-maxi{
	margin-left: 50px !important;
}
@media (max-width: 768px) {
	.content{
		margin-left: 0px;
		z-index: 1;
	}	
}
@media (min-width: 768px) and (max-width: 1024px) {
	.content{
		margin-left: 50px;
	}
}


/*************************************** 
 QUICK TOOLBAR
***************************************/
.quick-toolbar{
	background: url(../../images/topbar-bg.jpg) repeat scroll -60px top transparent;
	height: auto;
	width: 100%;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5) inset;
	position: relative;
	display: none;
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	animation-duration: 0.5s;
}
.quick-toolbar .toolbar-overlay{
	background: rgba(0, 0, 0, 0.3);
	padding-right: 15px;
}
.quick-toolbar .toolbar-list{
	padding-left: 10px;
	padding-right: 10px;
}
.quick-toolbar .toolbar-list a{
	margin: 15px 7.5px;
	background: rgba(255, 255, 255, 0.3);
	padding: 10px;
	display: block;
	width: 100%;
	border-radius: 5px;
	color: #fff;
	text-align: center;
}
.quick-toolbar .toolbar-list a:hover,
.quick-toolbar .toolbar-list a:focus{
	text-decoration: none;
	background: rgba(255, 255, 255, 0.4);
}
.quick-toolbar .toolbar-list a i{
	font-size: 3em;
	margin-bottom: 5px;
}
.quick-toolbar .toolbar-list a p{
	margin: 0px;
	font-size: 0.9em;
}


/*************************************** 
 FULLSCREEN WINDOW
***************************************/
:-webkit-full-screen {
	/* properties */
}
:-moz-full-screen {
	/* properties */
}
:-ms-fullscreen {
	/* properties */
}
:full-screen { /*pre-spec */
	/* properties */
}
:fullscreen { /* spec */
	/* properties */
}
/* deeper elements */
:-webkit-full-screen video {
	/*width: 100%;*/
	/*height: 100%;*/
}
/* styling the backdrop*/
::backdrop {
	/* properties */
}
::-ms-backdrop {
	/* properties */
}


/*************************************** 
 PAGE TITLE BAR & BREADCRUMB
***************************************/
.page-bar{
	padding: 10px 20px;
	background-color: #FAFAFA;
	border-bottom: 1px solid #e0e0e0;
	min-height: 50px;
}
.page-bar-tools{
	float: right;
	position: relative;
}
.breadcrumb li h3{
	margin: 0px;
	font-size: 18px;
}


/*************************************** 
 PANELS
***************************************/
.panel{
	-webkit-animation-duration: 0.4s;
	-moz-animation-duration: 0.4s;
	animation-duration: 0.4s;
}
.panel-icon{
	margin-left: 7px;
}
.panel-controls{
	float: right;
	display: block;
	cursor: pointer;
}
@media (max-width: 768px) {
	.panel-controls{
		display: none;
	}
}
.panel-controls .btn{
	margin-top: 5px;
}
.panel-controls .pc-link{
	display: inline-block;
	padding: 10px 6px 8px;
	color: #ADADAD;
}
.panel-controls .pc-link:hover,
.panel-controls .pc-link:focus{
	color: #999;
}
.panel-controls .pc-link-alt{
	display: inline-block;
	padding: 10px 6px 8px;
	color: rgba(255, 255, 255, 0.7);
}
.panel-controls .pc-link-alt:hover,
.panel-controls .pc-link-alt:focus{
	color: #fff;
	text-decoration: none;
}
.panel-heading .divider{
	border-left: 1px solid;
	border-right: 1px solid;
	display: inline;
	position: relative;
	bottom: -5px;
	margin: 0 10px;
	font-size: 18px;
	border-right-color: rgba(255, 255, 255, 0.15);
	border-left-color: rgba(0, 0, 0, 0.12);
}
.panel-menu{
	background-color: #FAFAFA;
	border-bottom: 1px solid #DCE1E5;
	padding: 8px;
}
.panel-screen{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
	width: 100%;
	min-height: 100%;
}
.panel-screen .panel-heading{
	position: relative;
	z-index: 1100;
}
.panel-screen-normal{
	position: static;
	width: auto;
	min-height: auto;
}
.panel-menu-alt{
	border-right: 1px solid #DCE1E5;
	border-left: 1px solid #DCE1E5;
}
.panel-body-alt{
	border-right: 1px solid #DCE1E5;
	border-left: 1px solid #DCE1E5;
	border-bottom: 1px solid #DCE1E5;
}
.panel-footer-alt{
	border-right: 1px solid #DCE1E5;
	border-left: 1px solid #DCE1E5;
	border-bottom: 1px solid #DCE1E5;
	border-top: none;
}
.panel-form{
	padding: 15px 20px 20px 20px
}
.panel-list{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.panel-list li{
	padding: 10px 10px 10px 15px;
	line-height: 1.5;
	border-bottom: 1px solid #ddd;
}
.panel-list li i{
	font-size: 1.8em;
	margin-right: 10px;
}
.panel-list li .item{
	font-weight: 600;
	color: #777;
}
.panel-list li .value{
	font-weight: 600;
	color: #444;
	float: right;
	padding-top: 5px;
}
.panel-list li .value .icon-caret-up,
.panel-list li .value .icon-caret-down{
	font-size: 14px;
	margin-right: 5px;
}
.panel-list li .value .icon-caret-up{
	color: #70CA63;
}
.panel-list li .value .icon-caret-down{
	color: #E9573F;
}
.panel-collapse-scroll{
	height: calc(100vh - 40px);
}
.section-divider, 
.section-divider-blank,
.section-divider-body{
	border-top: 1px solid #D9D9D9;
	height: 0px;
	margin: 30px 0 40px 0;
	text-align: center;
}
.section-divider span, 
.section-divider-blank span,
.section-divider-body span{
	display: inline-block;
	position: relative;
	top: -11px;
	font-size: 15px;
	padding: 0 15px;
}
.section-divider-blank span{
	color: #444444 !important;
	background-color: #fff !important;
}
.section-divider-body span{
	color: #555555 !important;
	background-color: #EEEEEE !important;
}
.panel-default .section-divider span {
    color: #666;
	background-color: #F7F8FA;
}
.panel-primary .section-divider span {
    color: #4A89DC;
	background-color: #F7F8FA;
}
.panel-success .section-divider span {
    color: #70CA63;
	background-color: #F7F8FA;
}
.panel-info .section-divider span {
    color: #3BAFDA;
	background-color: #F7F8FA;
}
.panel-warning .section-divider span {
    color: #F6BB42;
	background-color: #F7F8FA;
}
.panel-danger .section-divider span {
    color: #E9573F;
	background-color: #F7F8FA;
}
.panel-system .section-divider span {
    color: #37BC9B;
	background-color: #F7F8FA;
}
.panel-light .section-divider span {
    color: #9999A3;
	background-color: #F7F8FA;
}
.panel-dark .section-divider span {
    color: #3B3F4F;
	background-color: #F7F8FA;
}
.panel-soft .section-divider span {
    color: #E450B6;
	background-color: #F7F8FA;
}
.panel-alert .section-divider span {
    color: #967ADC;
	background-color: #F7F8FA;
}


/*************************************** 
 FORMS
***************************************/
.prepend-icon, .append-icon{
	position: relative;
}
.prepend-icon input, .prepend-icon textarea{
	padding-left: 36px;
}
.prepend-icon .field-icon, .append-icon .field-icon{
	display: block;
	position: absolute;
	height: 39px;
	text-align: center;
	top: 0px;
	line-height: 39px;
	color: #BBBBBB;
	font-size: 14px;
}
.prepend-icon input:focus + .field-icon, 
.prepend-icon textarea:focus + .field-icon,
.append-icon input:focus + .field-icon,
.append-icon textarea:focus + .field-icon{
	color: #888888;
	-webkit-transition: color ease-in-out .15s;
		 -o-transition: color ease-in-out .15s;
			transition: color ease-in-out .15s;
}
.prepend-icon .field-icon{
	left: 0px;
	width: 60px;
}
.append-icon input, .append-icon textarea{
	padding-right: 36px;
}
.append-icon .field-icon{
	right: 0px;
	width: 65px;
}
.sticky-help{
	position: relative;
	margin: 0px;
	background-color: #EEEEEE;
	padding: 10px;
	width: 100%;
	font-size: 11px;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}
.quick-search{
	border: 1px solid #CECECE;
	padding: 4px 10px;
	display: inline-block;
	margin: 0 0 1px 0;
	position: relative;
	bottom: -1px;
	background-color: #FAFAFA;
}
.quick-search:focus{
	background-color: #FFF;
}
.quick-search-result{
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
	position: absolute;
	min-width: 300px;
	right: 0px;
	z-index: 100;
	top: 42px;
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}
.quick-search-result:after{
	position: absolute; 
	top: -9px; 
	right: 10px; 
	display: inline-block; 
	border-right: 8px solid transparent; 
	border-bottom: 8px solid #D8D8D8; 
	border-left: 8px solid transparent; 
	content: ''; 
}
.quick-search-result li{
	display: block;
	border-top: 0;
	border-bottom: 1px solid #E0E0E0;
	border-right: 1px solid #E0E0E0;
	border-left: 1px solid #E0E0E0;
}
.quick-search-result .qsr-disabled{
	padding: 10px 15px;
	background-color: #F5F5F5;
	cursor: not-allowed;
}
.quick-search-result li a{
	display: block;
	padding: 10px 15px;
	color: #555;
	text-decoration: none;
	background-color: #FFF;
}
.quick-search-result li a:hover,
.quick-search-result li a:hover{
	background-color: #F5F5F5;
	text-decoration: none;
}


/*************************************** 
 TABS
***************************************/
.page-nav-tab{
	background-color: #F2F2F2;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 30px;
	height: 40px;
	border-bottomm: 1px solid #D9D9D9 !important;
}
.page-nav-tab li a{
	color: #777777;
	text-transform: uppercase;
	font-size: 13px;
	font-family: "Myriad Pro Regular", Helvetica, Arial, sans-serif;
	padding: 11px 15px 9px 15px;
}
.page-nav-tab li a:hover,
.page-nav-tab li a:focus{
	color: #555555;
	background-color: transparent;
	border-color: transparent;
}
.page-nav-tab .open > a,
.page-nav-tab .open > a:hover,
.page-nav-tab .open > a:focus{
	background-color: transparent;
	border-color: transparent;
}
.page-nav-tab .active a{
	background-color: #EEEEEE !important;
	position: relative;
	top: 0px;
}
.page-nav-tab .dropdown-menu{
	border: 1px solid #ddd;
	background-color: #E6EAED;
	border-top-color: #E6EAED;
	margin-top: -2px;
	box-shadow: none;
}	
.nav-right li{
	float: right;
}
.panel .nav-tabs{
	min-height: 40px;
	font-weight: 600;
	font-size: 12px;
	background-color: #F7F8FA;
}
.panel .nav-tabs li a{
	border-right: 1px solid #DDD;
	color: #777;
}
.panel .nav-tabs .active a{
	color: #555;
}
.panel .nav-tabs li a,
.panel .nav-tabs li a:hover,
.panel .nav-tabs li a:focus{
	padding: 12px 15px 10px 15px;
	border-top: none;
	border-left: none;
	border-radius: 0px;
	margin-right: 0px;
}
.panel .nav-tabs li a:hover,
.panel .nav-tabs li a:focus{
	background-color: #F2F2F2;
	border-bottom: 1px solid #DDD;
}
.panel .nav-tabs .active a:hover,
.panel .nav-tabs .active a:focus{
	background-color: #fff;
	border-bottom: 1px solid transparent;
}
.panel .nav-tabs-right li{
	float: right;
}
.panel .nav-tabs-right li a{
	border-left: 1px solid #DDD !important;
	border-right: none !important;
	color: #777;
}
.panel .nav-tabs .open > a, 
.panel .nav-tabs .open > a:hover, 
.panel .nav-tabs .open > a:focus{
	background-color: #F2F2F2;
	border-color: #DDD;
}
.panel .nav-tabs .dropdown-menu{
	border-radius: 0px;
	margin-left: -1px;
}
.panel .nav-tabs-right .dropdown-menu{
	margin-left: 0px;
}
.panel .nav-tabs .dropdown-menu > li > a{
	padding: 5px 15px;
	border: none !important;
}
.panel .nav-tabs .dropdown-menu > li{
	float: none;
}
.panel .nav-tabs .dropdown-menu .active a{
	background-color: #F2F2F2;
}
.panel .nav-tabs .dropdown-menu li a:hover,
.panel .nav-tabs .dropdown-menu li a:focus,
.panel .nav-tabs .dropdown-menu .active a:hover{
	background-color: #F2F2F2;
	border: none;
}
.panel .nav-justified > .active > a, 
.panel .nav-justified > .active > a:hover, 
.panel .nav-justified > .active > a:focus{
	border-left: none;
	border-top: none;
}
@media (max-width: 768px) {
	.panel .nav-justified > li > a,
	.panel .nav-justified > li > a:hover,
	.panel .nav-justified > li > a:focus,
	.panel .nav-justified > .active > a,
	.panel .nav-justified > .active > a:hover,
	.panel .nav-justified > .active > a:focus{
		border: none;
	}
	.panel .nav-tabs .dropdown-menu{
		margin-left: 0px;
		min-width: 100%;
	}
}
.panel .nav-justified li:last-child a{
	border-right: none !important;
}
.panel .nav-tab-padded{
	padding: 10px 10px 0 10px;
	height: 51px;
	background-color: #F5F5F5;
}
.panel .nav-tab-padded li a{
	border-top: 1px solid #DDD;
	background-color: #F7F8FA;
	border-bottom: 1px solid #DDD;
}
.panel .nav-tab-padded li a:hover,
.panel .nav-tab-padded li a:focus{
	background-color: #F2F2F2;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}
.panel .nav-tab-padded li:first-child a{
	border-left: 1px solid #DDD;
}
.panel .nav-tab-padded .active a{
	background-color: #fff;
	border-bottom: 1px solid transparent;
}
.panel .tab-padded-right li{
	float: right;
}
.panel .tab-padded-right li:first-child a{
	border-left: none;
}
.panel .tab-padded-right li:last-child a{
	border-left: 1px solid #DDD;
}
.panel .default-tab-pills{
	margin-bottom: 15px;
}
.panel .default-tab-pills li a{
	border-radius: 0px;
	padding: 8px 14px;
}
.panel .tab-pills-right li{
	float: right;
}
.panel .default-tab-pills .dropdown-menu{
	border-radius: 0px;
}
.panel .default-tab-pills .dropdown-menu > li > a{
	padding: 5px 15px;
}
@media (max-width: 768px) {
	.panel .default-tab-pills .dropdown-menu{
		min-width: 100%;
	}
}


/*************************************** 
 USER PROFILE
***************************************/
.profile-header{
	background-color: #F2F2F2;
	padding: 20px 20px 5px 20px;
	/*border-bottom: 1px solid #d9d9d9;*/
}
.profile-photo{
	width: 170px;
	height: 170px;
	margin: 15px 10px 0 20px;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #ddd;
}
.profile-photo img{
	width: 100%;
	height: auto;
}
.profile-actions{
	text-align: right;
}
.profile-details h2{
	margin: 20px 0 5px 0;
	font-family: "Myriad Pro Regular", Helvetica, Arial, sans-serif;
}
.profile-details p{
	color: #777;
}
.profile-stats{
	padding: 10px;
	box-shadow: 0px 1px 0px 0px #FFF inset, 0px 1px 0px rgba(255, 255, 255, 0.4);
	position: relative;
}
.profile-stats h3{
	margin: 5px 0;
	color: #555;
	font-weight: 600;
	position: relative;
	z-index: 2;
}
.profile-stats p{
	font-size: 12px;
	margin: 0px;
	position: relative;
	z-index: 2;
}
.profile-stats-icon{
	position: absolute;
	right: 10px;
	top: 13px;
	color: rgba(153, 153, 153, 0.4);
	font-size: 3.5em;
	z-index: 1;
}


/*************************************** 
 LOGIN FORM
***************************************/
.login-form{
	margin: 0 auto;
	margin-top: 10%;
	margin-bottom: 5%;
	max-width: 30%;
	padding: 15px 15px 1px 15px;
	position: relative;
}
@media (min-width: 768px) and (max-width: 1024px) {
	.login-form{
		max-width: 50%;
	}
}

@media (max-width: 768px) {
	.login-form{
		max-width: 70%;
	}
}
.login-logo{
	text-align: center;
	width: 100%;
	padding-bottom: 20px;
}
.login-logo img{
	width: 70px;
	height: 70px;
}
.login-form .form-group{
	border: 0;
}
.login-form p{
	margin: 0;
}
.login-form .checkbox{
	margin: 7px 0;
}
.login-form .picker-label{
	padding-left: 5px !important;
}
.login-form .avatar{
	width: 100px;
	height: 100px;
	box-shadow: 0px 0px 0px 5px rgba(102, 102, 102, 0.4);
	position: relative;
}
.login-form .login-img{
	text-align: center;
}
.login-form h4{
	text-align: center;
	margin-top: 10px;
}
.login-footer{
	text-align: center;
	font-size: 11px;
	padding: 30px 10px 0 10px;
}


/*************************************** 
 STATISTICS AND SUMMARY STYLE
***************************************/	
.number-stats{
	padding: 15px 10px;
	height: 120px;
	position: relative;
	margin-bottom: 20px;
}
.number-stats p{
	display: block;
	text-align: right;
	margin: 0;
	padding: 0;
	position: absolute;
	color: #fff;
}
.number-stats i{
	font-size: 7em;
	opacity: 0.2;
	color: #fff;
}
.number-stats a{
	display: block;
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 0px;
	font-size: 12px;
	padding: 5px 10px;
}
.number-stats a i{
	font-size: 14px;
	opacity: 1;
}
.number-stats a:hover{
	text-decoration: none;
}
.number-stats-value{
	font-size: 34px;
	right: 10px;
	font-family: "Myriad Pro SemiBold", Helvetica, Arial, sans-serif;
}
.number-stats-title{
	font-size: 16px;
	line-height: 12px;
	right: 10px;
	bottom: 40px;
}