@page {
	margin: 1.5cm 1.1cm;
}
body{
	font-family: sans-serif;
	margin: 0.5cm 0;
	background-image: url(watermark.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.blue{
	color: #00597C;
}
p{
	margin: 0.1em 0;
}
h1,h2,h3,h4,h5,h6{
	margin: 6px;
}
.hr{
	border-top: 1px solid #000;
	height: 1px;
}
.hr-dotted{
	border-top: 1px dotted #555;
	height: 1px;
}
#footer {
  position: fixed;
  left: 0;
	right: 0;
	color: #555;
	font-size: 0.7em;
}
#footer {
  bottom: 1.2cm;
  /*border-top: 0.1pt solid #aaa;*/
}

#footer table {
	width: 100%;
	border-collapse: collapse;
	border: none;
}

#footer td {
  padding: 0;
	width: 50%;
}

.page-number {
  text-align: center;
}
.page-number:before {
  content: "Page " counter(page);
}
.passport-photo{
	border: 1px solid #000;
	width: 100px;
	height: 100px;
	position: absolute;
	padding: 1px;
}