@font-face {
	font-family: 'Myriad Pro Light';
	src: url('light/myriadpro-light-webfont.eot');
	src: url('light/myriadpro-light-webfont.eot?#iefix') format('embedded-opentype'), 
	url('light/myriadpro-light-webfont.woff') format('woff'), 
	url('light/myriadpro-light-webfont.ttf') format('truetype'), 
	url('light/myriadpro-light-webfont.svg#MyriadProLightRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro Bold';
	src: url('bold/myriadpro-bold-webfont.eot');
	src: url('bold/myriadpro-bold-webfont.eot?#iefix') format('embedded-opentype'), 
	url('bold/myriadpro-bold-webfont.woff') format('woff'), 
	url('bold/myriadpro-bold-webfont.ttf') format('truetype'), 
	url('bold/myriadpro-bold-webfont.svg#MyriadProBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro Regular';
	src: url('regular/myriad_web_pro-webfont.eot');
	src: url('regular/myriad_web_pro-webfont.eot?#iefix') format('embedded-opentype'), 
	url('regular/myriad_web_pro-webfont.woff') format('woff'), 
	url('regular/myriad_web_pro-webfont.ttf') format('truetype'), 
	url('regular/myriad_web_pro-webfont.svg#MyriadWebProRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro SemiBold';
	src: url('semi-bold/myriadpro-semibold-webfont.eot');
	src: url('semi-bold/myriadpro-semibold-webfont.eot?#iefix') format('embedded-opentype'), 
	url('semi-bold/myriadpro-semibold-webfont.woff') format('woff'), 
	url('semi-bold/myriadpro-semibold-webfont.ttf') format('truetype'), 
	url('semi-bold/myriadpro-semibold-webfont.svg#MyriadProLightBold') format('svg');
	font-weight: normal;
	font-style: normal;
}
