/* Flat Style Notification */
.notification-wrapper {
	width: 300px;
	position: fixed;
	bottom: 20px;
	right: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.notification {
	/*max-height: 100px;*/
	margin-bottom: 10px;
	font-size: 16px;
	padding: 15px;
	background: #445260;
	line-height: normal;
	color: #fff;
	position: relative;
	right: -300px;
	z-index: 0;
}
.notification span{
	display: block;
	position: absolute;
	font-size: 44px;
}
.notification p{
	margin: 0 0 0 50px;
	padding: 0;
	display: block;
	font-size: 12px;
}
.notification-info {
	background: #5BC0DE;
}
.notification-success {
	background: #49A749;
}
.notification-warning {
	background: #EE9C2D;
}
.notification-error {
	background: #D53E39;
}
