div.blockMsg {
    width:  30%;
    top:    40%;
    left:   35%;
    text-align: center;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 15px;
    color: #000;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}
div.blockMsg h1{
	margin: 0px;
	font-size: 24px;
}
